<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title><?js= title ?> - Docs - Citation.js</title>
        <meta name="theme-color" content="#FFC107">
        <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
        <link rel="icon" type="image/png" href="/favicon.png"/>

        <script src="scripts/prettify/prettify.js"></script>
        <!--[if lt IE 9]>
          <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
        <link type="text/css" rel="stylesheet" href="/static/css/style.css">
        <link type="text/css" rel="stylesheet" href="/static/css/jsdoc.css">
    </head>
    <body>
        <nav>
          <div class="background"></div>

          <div>
            <a href="/">Home</a>
            <a href="/blog/">Blog</a>
            <a href="/demo/">Demo</a>
            <a href="/api/0.5">Docs</a>
          </div>
        </nav>

        <div>
            <div>
                <main>
                    <?js if (title != 'Home') { ?>
                        <h1 class="page-title"><?js= title ?></h1>
                    <?js } ?>

                    <?js= content ?>
                </main>
                <aside>
                    <?js= this.nav ?>
                </aside>
            </div>
        </div>

        <footer>
            <div class="background"></div>

            <div>
                Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a>
                <?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>
            </div>
            <div>
                <span>&copy; 2017-2022 Lars Willighagen</span>
                <span>Citation.js</span>
                <a href="https://larsgw.github.io">larsgw.github.io</a>
            </div>
        </footer>

        <script> prettyPrint(); </script>
        <script src="scripts/linenumber.js"> </script>
    </body>
</html>
